<div class="notification is-warning is-light">
  <button class="delete"></button>
  <p>
    Note: the license info column is inferred based on the notes column. Please
    confirm the license status with the individual.
  </p>
</div>
<%= javascript_pack_tag 'warning.js' %>
