<div class="content">
  <h1>Documentation</h1>
  <h2>Introduction</h2>
  <p>
    This website aims to make it easier for you to query for Canadian gun
    enthusiasts from Reddit. Currently, we only have
    <a
      href="https://docs.google.com/spreadsheet/ccc?key=0AmhmGZ6Sk9VIdFg5cUZLTi1SUlEwQzZucEtQSm85R0E#gid=0"
      >this giant spreadsheet</a
    >
    linked on Reddit.
  </p>
  <h2>How to</h2>
  <p>
    Each dropdown selection or keyword search allows you to filter out reddit
    users. You may leave it blank to accept all users. You can also combine
    multiple options to filter out users based on multiple conditions.
  </p>
  <p>A Gif demo is linked here.</p>
  <h2>FAQ</h2>
  <h3>Where did you get the data?</h3>
  <p>From our subreddit. The spreadsheet is public.</p>
  <h3>Where can I submit a feedback?</h3>
  <p>
    Please submit your feedback on this
    <a href="https://forms.gle/5sqKs5WHj6N8JfcK9">google form</a>. Thank you.
  </p>
  <h3>How do you know if a user is licensed?</h3>
  <p>
    I do not. It is only imputed (or inferred) based on the "Additional Notes"
    column automatically with a simple algorithm. You need to contact the user
    for the most accurate information.
  </p>
  <h3>
    I have multiple gun club memberships but I can only find one entry. What
    happened to the rest?
  </h3>
  <p>
    It is in general a good practice to eliminate duplicates in a proper
    database (which excel is not). If you'd like to support this, please submit
    a feedback <a href="https://forms.gle/5sqKs5WHj6N8JfcK9">here</a>.
  </p>
</div>
